@keyframes wave {
    0% { transform: translateX(0) translateZ(0) scaleY(1); }
    50% { transform: translateX(-25%) translateZ(0) scaleY(0.8); }
    100% { transform: translateX(-50%) translateZ(0) scaleY(1); }
  }
  
  .animate-wave {
    animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform-origin: center bottom;
  }
  
  .animate-wave-slow {
    animation: wave 18s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform-origin: center bottom;
  }
  
  .animate-wave-fast {
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform-origin: center bottom;
  }